{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
{% block content %}
<p>Copyright © 2016 Star&nbsp;Custom Products</p>

<p>Site theme by hutchgrant</p>
{% endblock %}
</div>
